<!DOCTYPE html>
<html>
<head>
<title>$title$</title>

<link rel="stylesheet" href="./template/blog.css">

<!-- syntax highlighting -->
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<div class="topBar">
  <div class="siteName">Simple Blog</div>
  <span class="subHeading">something something</span>
  <div class="subBar">
    <span class="subBarButton">Test1</span>
    <span class="subBarButton">Test2</span>
    <span class="subBarButton">Test3</span>
  </div>
</div>

<div class="postContainer">